/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 32px;
  height: 50px;
  background-image: url("BGhue.png");
  background-repeat: repeat-x;
  background: #666;
  font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif;
  word-wrap: none;
  overflow: hidden;
  min-width: 1320px; }
  header .logo {
    margin-left: calc(50% - 550px);
    vertical-align: 50%;
    float: left; }
  header .foosball, header .TT {
    font-weight: 700;
    float: left;
    font-size: 1.2em;
    line-height: 1.5;
    vertical-align: 50%;
    margin-left: 30px;
    font-style: italic;
    letter-spacing: 2px; }
  header .foosball_text, header .TT_text {
    font-size: 18px;
    float: left;
    margin-left: 10px;
    line-height: 50px; }
  header .quote {
    font-style: italic;
    font-size: 0.75em;
    color: #ef9920;
    float: left;
    margin-left: 310px;
    letter-spacing: 2px;
    line-height: 2.4; }

body {
  background: #d3d3d3;
  /* Old browsers */
  width: 1160px;
  margin-top: 50px;
  margin-left: 105px;
  color: #333;
  overflow: visible;
  font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif; }
  body table {
    border-spacing: 0px;
    width: 100%; }
    body table td {
      background: #ffffff;
      border-bottom: 1px solid #666;
      border-right: 1px solid #666;
      text-align: center; }
    body table td.header {
      background: #e6e6e6;
      border-bottom: 1px dotted #666; }
  body .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    z-index: 1;
    height: 1080px; }
  body #centered_form {
    position: fixed;
    display: none;
    width: 50%;
    left: 25%;
    top: 15%;
    padding: 20px 40px;
    overflow: hidden;
    z-index: 2;
    background: #fff;
    border: 4px solid #f9daaf; }
    body #centered_form.new_game .field, body #centered_form.new_player .field, body #centered_form.random_game .field {
      line-height: 1.5;
      font-size: 20px; }
    body #centered_form td {
      border-left: 1px solid #666; }
    body #centered_form td.header {
      border-top: 1px solid #666; }
    body #centered_form table.misc_stats {
      margin-bottom: 30px;
      width: 300px; }
      body #centered_form table.misc_stats td {
        border: none;
        text-align: left; }
  body #centered_form.statistics .close {
    cursor: pointer;
    float: right; }
  body #container_left {
    width: 1245px;
    min-width: 1100px;
    height: auto;
    background: #f9daaf;
    overflow-y: hidden;
    padding: 0px 0px;
    padding-top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -627px;
    -moz-box-shadow: 0px 0px 40px #333;
    -webkit-box-shadow: 0px 0px 40px #333;
    box-shadow: 0px 0px 40px #333; }
    body #container_left .players {
      background-image: url("BGhue.png");
      color: #333;
      background: #f9daaf;
      background-repeat: repeat-x;
      text-align: center;
      line-height: 2.5;
      margin-top: 0px;
      margin-bottom: 0; }
      body #container_left .players p.player_text {
        margin: 0 0 0 0px; }
    body #container_left #tabs {
      height: 31px; }
      body #container_left #tabs a {
        background: #ffffff;
        border-top: 1px solid #666;
        border-right: 2px solid #666;
        border-left: none;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        float: left;
        margin: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        text-decoration: none; }
    body #container_left #tabs a.selected {
      background: #e6e6e6;
      border-bottom: 2px solid #e6e6e6; }
    body #container_left .players_container {
      border-top: 2px solid #666;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2em; }
      body #container_left .players_container .header {
        font-weight: 800;
        line-height: 1.8;
        text-align: center; }
      body #container_left .players_container .player_row {
        line-height: 3;
        width: 100%;
        border-bottom: 1px dotted #666; }
        body #container_left .players_container .player_row .rank {
          width: 70px; }
        body #container_left .players_container .player_row .name.header {
          cursor: default;
          text-decoration: none;
          width: 175px; }
        body #container_left .players_container .player_row .name {
          cursor: pointer;
          text-decoration: underline; }
        body #container_left .players_container .player_row .games_played {
          width: 70px; }
        body #container_left .players_container .player_row .ones_record, body #container_left .players_container .player_row .twos_record {
          width: 120px; }
        body #container_left .players_container .player_row .on_offense, body #container_left .players_container .player_row .on_defense {
          width: 120px; }
        body #container_left .players_container .player_row .points_for, body #container_left .players_container .player_row .points_against, body #container_left .players_container .player_row .points_diff {
          width: 60px; }
        body #container_left .players_container .player_row .ELO, body #container_left .players_container .player_row .ELO_header, body #container_left .players_container .player_row .season_elo {
          width: 115px; }
  body .standard_button {
    background: #fff;
    float: right;
    padding: 8px 10px;
    margin-right: 8px;
    border: 1px solid #333;
    font-size: 14px; }
  body .player_row.bottom {
    background: #f9daaf;
    padding-bottom: 5px;
    border-bottom: 2px solid #ef9920;
    height: 35px; }
    body .player_row.bottom .add_new_stuff {
      margin-top: 0px;
      margin-bottom: 5px; }
    body .player_row.bottom .last_game, body .player_row.bottom .skull {
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 14px;
      float: left;
      color: #333;
      margin-left: 20px;
      text-align: left;
      line-height: 1; }
    body .player_row.bottom .skull {
      margin-top: -20px; }
  body .edit-player,
  body .statistics {
    display: none;
    z-index: 2; }
  body .footer {
    clear: both;
    color: #333;
    background: #666;
    bottom: 0;
    border: solid 1px #666;
    height: 300px;
    width: 1245px;
    min-width: 950px;
    position: fixed;
    z-index: -1;
    margin-left: -1px; }
  body .red {
    color: #ff0000; }
  body .green {
    color: #00dd00; }
  body .center {
    text-align: center; }
