<!DOCTYPE HTML>
<html>
<head>

<meta charset= "utf-8">
<title>Random Game</title>

<link rel="stylesheet" type="text/css" href="style.css">
<script src = "script.js" type = text/javascript></script>
<body>

<Header>Type in 4 players and a random matchup will be displayed</header><br>

<form onSubmit = "randomPlayer()" autocomplete="on">

	Player 1: <input type="text" id= "player1"><br>
	Player 2: <input type="text" id= "player2"><br>
	Player 3: <input type="text" id= "player3"><br>
	Player 4: <input type="text" id= "player4"><br>
	Player 5: <input type="text" id= "player5"><br>
	Player 6: <input type="text" id= "player6"><br>
	<br><br>


	<input type="checkbox" id="assignTeam" value ="Yes"> Check to also Assign Offense & Defense<br><br><br>
	<input type="button" value="Submit" onclick = "randomPlayer()">

</form>	

<br>
<p>Red Team: <span id= "redTeam"></span><span id = "rankinG1"></span></p>
<p>Blue Team: <span id= "blueTeam"></span><span id = "rankinG222"></span></p>



</body>



</html>


<s