%header
	%span.logo= image_tag("FRlogo.png", alt: "Front Rush")
	%span.title FOOSBALL
	%span.quote "The greatest show on Earth..."
%body
	#container_left
		%h1.players Player Rankings
	#container_right