header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	color: #fff;
	font-size: 32px;
	height: 80px;
	background-image: url("BGhue.png");
	background-repeat: repeat-x;
	font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif;
	word-wrap: none;
	overflow: hidden;

	.logo{
		margin-left: 105px;
		vertical-align: 50%;
	}

	.title{
		font-weight: 700;
		font-size: 1.2em;
		line-height: 1.5;
		vertical-align: 50%;
		margin-left: 10px;
		font-style:italic;
		letter-spacing: 2px;
	}

	.quote{
		font-style:italic;
		font-size: 0.75em;
		color: #ef9920;;
		margin-left: 175px;
		letter-spacing: 2px;
		vertical-align: 120%;
	}
}

body{
	background: #e9e9e9;
	margin-top: 100px;
	color: #333;
	font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif;

	#container_left{
		width: 300px;
		margin-left: 105px;
		height: auto;
		-webkit-border-radius: 10px;
		border: 3px solid #ef9920;
		background: #d3d3d3;
		overflow-y: hidden;
		-webkit-box-shadow: 4px 8px #666;
		.players{
			background-image: url("BGhue.png");
			-webkit-border-top-left-radius: 7px;
			-webkit-border-top-right-radius: 7px;
			-moz-border-top-left-radius: 7px;
			-moz-border-top-right-radius: 7px;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;						
			color: #fff;
			background-repeat: repeat-x;
			text-align: center;
			line-height: 1.8;
			margin-top: 0px;
			margin-bottom: 0;
		}

		.players_container{
			list-style: none;
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.2em;

			.player_row{
				line-height: 2.5;
				float: left;
				width: 100%;

				.header{
					text-align: center;
					font-weight: 500;
				}

				.name, .name_header{
					float: left;
					text-align: center;
					width: 110px;
					border-right: 1px solid #666;
				}

				.record, .record_header{
					float: left;
					text-align: center;
					width: 82px;
				}

				.ELO, .ELO_header{
					border-left: 1px solid #666;
					float: right;
					width: 105px;
					text-align: center;
				}

				.header{
					font-weight: 800;
					line-height: 1.8;
					text-decoration: underline;
					background: lighten(#ef9920, 20%);
				}

			}

			.player_row:nth-child(2n){
				background: darken(#d3d3d3, 20%);
			}
		}
	}

	.add_player{
		margin-left: 110px;
		margin-top: 20px;
		a{
			color: #333;
		}
	}

	#container_right{
		float: right;
		margin-left: 505px;
		font-size: 28px;
	}
}
