header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	color: #fff;
	font-size: 32px;
	height: 50px;
	background-image: url("BGhue.png");
	background-repeat: repeat-x;
	background: #333;
	font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif;
	word-wrap: none;
	overflow: hidden;
	min-width: 1320px;

	.logo{
		margin-left: 115px;
		vertical-align: 50%;
		float: left;
	}

	.title{
		font-weight: 700;
		float: left;
		font-size: 1.2em;
		line-height: 1.5;
		vertical-align: 50%;
		margin-left: 10px;
		font-style:italic;
		letter-spacing: 2px;
	}

	.quote{
		font-style:italic;
		font-size: 0.75em;
		color: #ef9920;
		float: left;
		margin-left: 310px;
		letter-spacing: 2px;
		line-height: 2.4;
	}
}

body{
	background: #d3d3d3; /* Old browsers */
	// background: -moz-linear-gradient(top, #999 44%, #fefefe 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#999), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top, #999 44%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(top, #999 44%,#fefefe 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top, #999 44%,#fefefe 100%); /* IE10+ */
	// background: linear-gradient(to bottom, #999 44%,#fefefe 100%); /* W3C */
	width: 1100px;
	margin-top: 50px;
	margin-left: 105px;
	color: #333;
	overflow: visible;
	font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,Arial,sans-serif;

	#container_left{
		width: 1100px;
		min-width: 1100px;
		height: auto;
		// border-left: 2px solid #333;
		// border-right: 2px solid #333;
		background: #ffffff;
		overflow-y: hidden;
		padding: 0px 0px;
		padding-top: 0px;
		-moz-box-shadow: 0px 0px 25px #000;
		-webkit-box-shadow: 0px 0px 25px #000;
		box-shadow: 0px 0px 25px #000;
		.players{
			background-image: url("BGhue.png");					
			color: #333;
			background: lighten(#ef9920, 30%);
			background-repeat: repeat-x;
			text-align: center;
			line-height: 2.5;
			margin-top: 0px;
			margin-bottom: 0;
			border-bottom: 2px solid #666;

			p.player_text{
				margin: 0 0 0 0px;
			}			
		}

		.players_container{
			list-style: none;
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.2em;

			.header{
				font-weight: 800;
				line-height: 1.8;
				text-decoration: underline;
				text-align: center;
				background: lighten(#999, 30%);
			}			

			.player_row{
				line-height: 3;
				float: left;
				width: 100%;
				text-align: center;
				border-bottom: 1px dotted #666;

				.rank{
					float: left;
					text-align: center;
					width: 70px;
					border-right: 1px solid #666;
				}

				.name, .name_header{
					float: left;
					text-align: center;
					width: 200px;
					border-right: 1px solid #666;
				}

				.games_played{
					float: left;
					width: 70px;
					border-right: 1px solid #666;
				}				

				.ones_record, .twos_record{
					float: left;
					text-align: center;
					width: 140px;
					border-right: 1px solid #666;
				}

				.on_offense, .on_defense{
					float: left;
					width:130px;
					border-right: 1px solid #666;
				}				

				.points_for, .points_against{
					float: left;
					width: 60px;
					border-right: 1px solid #666;
				}							

				.ELO, .ELO_header{
					float: left;
					width: 85px;
					text-align: center;
				}

			}
		}
	}

	.standard_button{
		background: #fff;
		float: right;
		padding: 8px 10px;
		margin-right: 8px;
		border: 1px solid #333;
		font-size: 14px;
	}

	li.player_row.bottom{
		background: lighten(#ef9920, 30%);
		padding-bottom: 5px;
		border-bottom: 2px solid #ef9920;

		.add_new_stuff{
			margin-top: 0px;
			margin-bottom: 5px;
		}

		.last_game{
			font-size: 14px;
			margin: 0px 0px 0px 0;
			color: #333;
			margin-left: 20px;
			text-align: left;
			line-height: 1;
		}
	}

	li.footer{
		 clear:both;
		 color:#333;
		 background:#333;
		 bottom:0;
		 border:solid 1px #333;
		 height:300px;
		 width:1100px;
		 min-width:950px;
		 position:fixed;
		 z-index:-1;
		 margin-left: -1px;
	}
}
